<h1 mat-dialog-title>
  Reset Password
</h1>
<hr>
<div mat-dialog-content>
  <form #passwordForm="ngForm" [formGroup]="passwordResetForm" (ngSubmit)="passwordForm.resetForm();"
    autocomplete="off">
    <mat-form-field class="col-12" id="formfieldOldPassword">
      <input type="password" matInput formControlName="CurrentPassword" placeholder="Current Password" required>
      <mat-error *ngIf="passwordResetForm?.controls?.CurrentPassword?.hasError('required')" id="errorPasswordRequired">Current Password
        <strong>required</strong></mat-error>
    <mat-error *ngIf="passwordResetForm?.controls?.CurrentPassword?.hasError('minlength')" id="errorPasswordLength">Password must be atleast 8
        characters length
        </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" id="formfieldNewPassword">
      <input type="password" matInput formControlName="NewPassword" placeholder="New Password" required>
      <mat-error *ngIf="passwordResetForm?.controls?.NewPassword?.hasError('required')" id="errorNewRequired">New Password
        <strong>required</strong></mat-error>
      <mat-error *ngIf="passwordResetForm?.controls?.NewPassword?.hasError('minlength')" id="errorNewLength">Password must be atleast 8
        characters length
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" id="formfieldConfirmPassword">
      <input type="password" matInput formControlName="ConfirmPassword" placeholder="Confirm Password" required>
      <mat-error *ngIf="passwordResetForm?.controls?.ConfirmPassword?.hasError('required')" id="errorConfirmRequired">Confirm Password
        <strong>required</strong></mat-error>
      <mat-error
        *ngIf="(!passwordResetForm?.controls?.ConfirmPassword?.hasError('required'))&&(passwordResetForm?.controls?.ConfirmPassword?.touched||passwordResetForm?.controls?.ConfirmPassword?.dirty) && (passwordResetForm?.controls?.ConfirmPassword?.hasError('mismatch'))" id="errorMismatch">
        Password Mismatch</mat-error>
    </mat-form-field>
    <div class="row col-12 pb-2 m-0">
      <button mat-raised-button class="col-4 ml-2 button" type="button" [disabled]="passwordResetForm.invalid"
        (click)="OnResetPassword()" id="buttonPasswordReset">
        Reset Password</button>
      <button mat-raised-button class="col-4 ml-2 button" type="submit" (click)="OnCancelClick()"
        id="buttonPasswordCancel">
        Cancel</button>
    </div>
    <div class="row col-12 m-0 p-0" style="color:red">{{errorMessage}}</div>
  </form>
</div>

<!-- <div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">No</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div> -->
